@import '../../../styles/settings.scss';

.root {
    form {
        margin-top: 30px;
        outline: none;
        border: 0;

        .searchBox {
            background-color: $orange;
            color: $white;
        }
    }
}
