@import '../../../styles/settings.scss';

.root {
    .menu {
        display: flex;

        @media (max-width: $laptop-breakpoint) {
          order: 1;
        }
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }

        ul {
          margin: 0;
          padding: 0;
          display: flex;

          @media (max-width: $tablet-breakpoint) {
            flex-wrap: wrap;
          }

          li {
            list-style: none;
            display: flex;
          }
        }

        a {
          color: $background-midgrey;
          font-size: $base-font-size;
          padding: 1rem;
          text-decoration: none;
          display: flex;
          align-items: center;
          @extend %hoverAnimation;
          font-weight: 500;
          height:10px;

          &:hover,
          &.active {
            color: $color-font;
            border-color: $menuBarUnderlineActiveHover;
          }
        }

        .split {
          border-right: 1px solid;
        }
    }

    .icon {
        color: $userOptions;
    }

    .iconbascet {
      color: $background-darkrey;
      transition: all 1s ease-in-out;
      &:hover {
          transform: scale(2.2);
      }

      .bascet {
        color: $black;
        margin-right: 10px;
      }

      span {
        color: $black;
        font-weight: bold;
      }

    }

}

