@import '../../../styles/settings.scss';

.root {

  .sideBar {
    height: 100vh;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    padding-left: 80px;
    // color: $background-darkrey;
    // background-color: transparent;
    // overflow-x: hidden;

    .categories {
      margin: $base-padding 0;
      padding: 0;

      ul {
        padding-left: 0;

        li {
          margin: 40px 0;
          display: flex;
          cursor: pointer;
          align-items: baseline;

          &.active {
              font-weight: $font-weight-bold;
              font-size: 25px;
          }

          .amount {
              margin-left: 80px;
              font-size: 16px;
          }
        }
      }
    }
  }
}