@import '../../../styles/settings.scss';

.root {
    .container {
        width:100%;
        max-width: calc(100% - 240px);
        margin: 0 auto;
        padding: 0 15px;
        top: 50px;
        left: 240px;
        position: absolute;
        z-index: -1;
    }
}
