@import "./settings.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Sacramento&display=swap');


body {
  font-family: $text-main;
  margin: 0;
  background-color: $background-midgrey;
  font-size:$base-font-size;
  line-height: 1.7;
  color: $color-font
}

.header {
    font-size: $font-size-header;
    font-weight: bold;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li.slick-active button::before {
  color: $offer-active-dot;
}
