@import '../../../styles/settings.scss';

.root {

    .cart {
        @media (max-width: $tablet-breakpoint) {
          justify-content: center;
        }
        @media (max-width: $mobile-breakpoint) {
          justify-content: center;
        }

        .summary {
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            span{
                color: $orange;
                font-size: 20px;
            }
        }


        .order {
            border-left: 1px solid $background-darkrey;

        }
    }
}

