@import '../../../styles/settings.scss';

.root {

    .contact {
        border: 1px solid $orange;
        border-radius: 1%;
        padding: 50px;
        min-height: 800px;
        background-color: whitesmoke;
        .formPosition {
            display: flex;
            flex-wrap: wrap;
            padding-top: 60px;
            .titleDominant {
                color: $orange;
                font-size: 5rem;
                font-weight: 600;
                font-family: $text-logo;
                margin: 0 0 0 20px;
            }

            form {
                flex: 2 0 0;
                display: block;

                input, textarea {
                    display: inline-block;
                    padding: 10px;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid $black;
                    background: transparent;
                    color: $black;
                    height: 60px;
                    margin: 5px 0;
                    font-size: 15px;
                    outline: none;
                    &::placeholder {
                        color: $black;
                        font-size: 15px;
                    }
                }

                textarea {
                    height: 200px;
                }
            }
        }
    }

}