@import '../../../styles/settings.scss';

.root {
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
  }
}