@import "../../../styles/settings.scss";

.root {
  border: 1px solid $product-search-border;
  background-color: $black;
  height: 38px;
  margin-top: $base-padding;
  width: 250px;

  .searchField {
    display: flex;
    position: relative;

    input {
      border: 0;
      font-size: 14px;
      outline: none;
      height: 38px;

      @media (max-width: 425px) {
        width: 60px;
      }

      &::placeholder {
        color: $search-placeholder;
        padding-left: 20px;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      color: $white;
      outline: none;
      padding-left: 15px;
    }
  }
}
