@import '../../../styles/settings.scss';

.root {
    .header {
        background-color: $header;
          @media (max-width: $tablet-breakpoint) {
            justify-content: center;
          }
          @media (max-width: $mobile-breakpoint) {
            justify-content: center;
          }

        .logoHeader {
            margin: 15px 0 0 25px;
        }
    }
}
