@import '../../../styles/settings.scss';

.root {
    .btnAbaut {
        color: $background-darkrey ;
        border-color:  $background-darkrey ;
        &:hover, &:active {
            color: $white;
            background-color: $background-darkrey;
            border-color: $background-darkrey ;

        }
    }
}
