// VARIABLES

//color
$black: #000;
$white: #ffffff;

$background-lightgrey: #F2F2F2;
$background-midgrey: #E6E6E6;
$background-darkrey: #25282A;

//logo color

$red: #da5358;
$orange: #f6942e;
$yellow: #f8ed33;
$green: #8ec641;
$blue: #1d75bd;
$purple: #6a4290;

$pink: #ef7998;

// text

$base-padding: 45px;
$base-font-size: 16px;
$font-size-header: 35px;
$font-size-title: 20px;

$font-weight-bold: 550;

$color-font: $black;

$text-main: 'Montserrat', sans-serif;
$text-logo: 'Sacramento', cursive;

//Media breakpoints

$laptop-breakpoint: 1200px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 425px;

//transition values

$transition: all 1s;
$background-color-transition: 250ms;
$color-transition: 250ms;
$border-color-transition: 250ms;

%hoverAnimation {
    transition: background-color $background-color-transition linear, color $color-transition linear,
    border-color $border-color-transition linear;

    transform: translate(0, 0);
}

// transform

@mixin box-flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin center-position() {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*BUTTONS*/

$offer-active-dot: $yellow;
$product-search-border: $white;
$search-placeholder: $background-darkrey;

/*Header*/

$header: $white;
$menuBarUnderline: $white;
$menuBarUnderlineActiveHover: $black;
$userOptions: $background-darkrey;